.app{
  height: 100vh;
  padding: 2.5rem 1.5rem;
}
.floating {   
  animation-name: floating; 
  animation-duration: 30s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
} 
.floating2 {   
  animation-name: floating2; 
  animation-duration: 6s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out; 
} 

@keyframes floating { 
  0% { transform: translate(0,  0px); transform: rotate(-10deg);} 
  50%  { transform: translate(0, 15px); transform: rotate(10deg);} 
  100%   { transform: translate(0, -0px); transform: rotate(-10deg); }     
} 
@keyframes floating2 { 
  0% { transform: translate(0,  0px); } 
  40%  { transform: translate(0, -20px); } 
  100%   { transform: translate(0, -0px); }     
} 